/* TEMA CLARO */


.tema-claro, :root{

	/* NAVBAR */
	--fundo-navbar: #161B33;
	--fundo-a: #c2d5f0;
	--texto-nav: #161B33;
	--fundo-hover: #224169;
	--texto-hover: #C2D5F0;

	--fundo-gradiente: linear-gradient(135deg, #5f82b1, #c2d5f0);
	--fundo-gradiente-2: linear-gradient(135deg, #395D8D, #91B4E3 );

	/* TEXTO */
	--texto: #F0EEFF; 
	--texto-2:  ;

	--icone: #224169;
	--fundo-caixa: #224169;
	--fundo-txt: #F0EEFF;
	--cor-txt: #224169;
	--texto-placehoder: ;
	--botao: #161b33; 
	--botao-hover: #323853;
	--botao-texto: ;
	--fundo-nav: #224169;

	--fundo-1: #161B33;
	--fundo-2: #C2D5F0;
	--fundo-label: #224169;

	--fundo-caixa-2:#c2d5f0;

	--fundo-bloco: #C2D5F0;
}


/* TEMA ESCURO */
.tema-escuro, :root{

	/* NAVBAR */
	--fundo-navbar: #0D0C1D;
	--fundo-a: #F0EEFF;
	--texto-nav: #0D0C1D;
	--fundo-hover: #224169;
	--texto-hover: #C2D5F0;

	--fundo-gradiente: linear-gradient(135deg, #436085 0%, #3b405c 100%);
	--fundo-gradiente-2: linear-gradient(135deg, #1C375A, #345681 );


	--fundo-1: #0d0C1D; 
	--fundo-2: #0D0C1D;

	/* TEXTO */
	--texto: #F0EEFF; 
	--texto-2: #0D0C1D;

	--icone: #c2d5f0;
	--fundo-caixa: #0D0C1D;
	--fundo-caixa-2: #161B33;

	--fundo-txt: #F0EEFF;
	--fundo-txt-2: #224169;
	--cor-txt: #0D0C1D;

	--texto-placehoder: ;
	--botao: #0D0C1D;
	--botao-hover: #224169;

	--borda: #c2d5f0;
	--fundo-label:#323853;


	--fundo-bloco: #0D0C1D;
}