/* TEMA CLARO */
.tema-claro, :root{

	--fundo-1: #5f82b1;
	--fundo-2: #c2d5f0;

	--fundo-gradiente: linear-gradient(135deg, var(--fundo-1), var(--fundo-2));

	--icone: #224169;
	--fundo-caixa: #224169;
	--texto: #F0EEFF; 
	--fundo-txt: #F0EEFF;
	--cor-txt: #224169;
	--texto-placehoder: ;
	--botao: #161b33; 
	--botao-hover: #323853;
	--botao-texto: ;
	--fundo-nav: #224169;
}

/* TEMA ESCURO */
.tema-escuro, :root{
	--fundo-gradiente: linear-gradient(135deg, #436085 0%, #3b405c 100%);


	--fundo: #224169; 
	--fundo-2: #224169;
	--icone: #c2d5f0;
	--fundo-caixa: #0D0C1D;
	--texto: #F0EEFF; 
	--fundo-txt: #F0EEFF;
	--cor-txt: #0D0C1D;
	--texto-placehoder: ;
	--botao: #323853;
	--botao-texto: ;
	--botao-hover: ;
}
