@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');
@import url('../css/cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    
}

body{
    background: var(--fundo-gradiente);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

#Caixa{
    background-color: var(--fundo-caixa-2);

    width: 900px;
    height: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3% auto;   
    padding: 2% 0 ;
    border: none;
    
    border-radius: 5px;
}
    
#Caixa-direita{
    margin-top: 3%;
    float: right;
    margin-right: 12%;
    height: auto;
}
 
#Sele-Lab{
    background-color: var(--fundo-bloco);
    width: 118%;
    height: 40%;
    padding: 8% 8%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#Titulo-E{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 130%;
    text-align: center;
    padding: 2%;
    width: 95%;
}


#Lab{
    color: var(--texto);
    
    border: 2px solid var(--borda);
    text-align: center;

    width: 98%;
    font-size: 130%;
    letter-spacing: 5px;
    font-weight: bold;

    margin: 5% 0 0 0;
    padding: 2% 0;
}

#Lab-2{
    color: var(--texto);
    background-color: transparent;
    
    border: 2px solid var(--borda);
    text-align: center;

    width: 100%;
    font-size: 130%;
    letter-spacing: 5px;
    font-weight: bold;

    margin: 5% 0 0 0;
    padding: 2% 0;
}


#Data-Resp{
    margin-top: 2%;
    background-color: var(--fundo-bloco);
    width: 15.8%;
    height: auto;
    padding: 1.5% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}


#Data{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 130%;
    text-align: center;
    padding: 3%;
    width: 150%;
    border: none;
}

#Data-2{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    
    font-size: 160%;
    text-align: center;

    padding: 3%;
    width: 150%;
    border: none;
    font-weight: bold;
}


#Responsavel{
    color: var(--texto);
    border: 2px solid var(--borda);
    background-color: transparent;
    text-align: center;
    width: 155%;
    font-size: 120%;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 8% 0 0 0;
    padding: 4% 0;
}
/* 
#Responsavel-2{
    color: var(--texto);
    background-color: transparent;
    border: 2px solid var(--borda);
    text-align: center;
    
    width: 164%;
    font-size: 130%;
    letter-spacing: 5px;
    font-weight: bold;

    margin: 8% 0 0 0;
    padding: 3% 0%;
} */

.Titulo{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 150%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5%;
}


#Caixa-esquerda{
    margin-top: 3%;
    margin-left: 6%;
    height: auto;
    display: flex;
    flex-direction: column; 
}


#Problemas{
    background-color: var(--fundo-caixa);
    width: 88%;
    height: auto;
    padding: 6% 1% 6% 6%;
    line-height: 40px;
}


.txtProb{
    color: var(--texto);
    background-color: var(--fundo-txt-2);
    font-size: 100%;
    padding: 0;
    margin-top: 4%;
    width: 25%;
    display: inline-block;
    text-align: center;
    border: none;
}


.Quant{
    border: 2px solid var(--borda);
    color: var(--borda);
    text-align: center;
    width: 10%;
    padding: 0 0 0 5px;
    margin-left: 1%;
    display: flex;
    display: inline-block;

    font-size: 110%;
    font-weight: 20;
}

.Quant-2{
    border: 2px solid var(--borda);
    color: var(--borda);
    opacity: 0.6;
    background-color: transparent;
    text-align: center;
    width: 14%;
    padding: 1.5% 0.5% 1.5% 1%;
    margin-left: 1%;
    display: flex;
    display: inline-block;

    font-size: 110%;
    font-weight: 20;
}

select::before{
    color: aliceblue;
}

input::placeholder{
    color: var(--texto-placeholder);
}

.Select{

    border: 2px solid var(--borda);
    color: var(--borda);

    text-align: center;

    width: 45%;
    height: 10%;
    display: flex;
    display: inline-block;
    font-size: 125%;
    padding: 0 2%;
    margin-left: 1%;

    letter-spacing: 5px;
    font-weight: 20;
    
}

.Select-2{
    border: 2px solid var(--borda);
    color: var(--borda);
    opacity: 0.6;
    background-color: transparent;

    text-align: center;

    width: 42%;
    height: 12%;
    display: flex;
    display: inline-block;
    font-size: 120%;
    padding: 1.3% 2%;
    margin-left: 1%;

    letter-spacing: 5px;
    font-weight: 20;
    cursor: pointer;
}

.Select-item{
    background-color: var(--fundo-txt-2);
    color: var(--texto);
} 

.Select-2::before{
    opacity: 1;
}

#Caixa2{
    display: flex;
    flex-direction: column; 
}


#Caixa-Texto{
    background-color: var(--fundo-caixa);
    
    margin-top: 4%;
    margin-left: 6%;

    width: 82%;
    height: auto;
    padding: 3% 0 3% 4%;
    
    display: flex;
    flex-direction: column; 
    border: none;
}


.Titulo-2{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 130%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5%;
    margin-right: 35%;
}


.Caixa-Texto{
    background-color: var(--fundo-txt-2);
    color: var(--texto);
    font-size: 100%;
    padding: 2%;
    margin-top: 3%;
    width: 90%;
    height: auto;
    font-weight: normal;
    border: none;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
    min-height: 50px;
}

textarea::placeholder{
    color:var(--texto-placeholder);
    font-size: 100%;
}

.Titulo-3{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 130%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.5%;
    margin-right: 85%;
}

#Btn {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
}


#Fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 3%;
    width: 80%;

    min-height: 100%;
    
    background-color: var(--fundo-caixa);
    margin-top: 4%;
    margin-left: 6%;
}

/* .mostrarFoto{

} */

.uploadlabel{
    width: 97%;
    min-height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #C2D5F0;
    cursor: pointer;
    padding: 5% 0;
    margin-top: 2%;
}

.uploadlabel span{
    font-size: 350%;
    margin-bottom: 1%;
    /* padding-right: -10%; */
    color: #C2D5F0;
}

.uploadlabel p{
    font-size: 100%;
    color: #C2D5F0;
    font-weight: 800;
    margin-bottom: 2%;
}

.uploaded{
    margin: 5% 40% 5% 0;
    font-size: 16px;
    color: #a5a5a5;
    float: left;
}

#filewrapper{
    width: 98%;
    display: flex;
    flex-direction: column;
}

.showfilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0% ;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px,
    #d1d5db3d 0px 0px 0px 1px inset;
}

.left h3{
    color: #C2D5F0;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

/* Deletar */
.right span{
    background: #C2D5F0;
    color: #224169;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
}

.Btn{
    background-color: var(--botao);
    color: var(--texto);
    width: auto;
    height: auto;
    font-size: 125%;
    margin: 4% 4% 1% 0;
    padding: 1% 1% 1% 1.5%;
    float: right;
    border: none;
}

.Btn-2{
    background-color: var(--botao);
    color: var(--texto);
    width: auto;
    height: auto;
    font-size: 135%;
    margin: 4% 8% 1% 0;
    padding: 1% 1% 1% 1.5%;
    float: right;
    border: none;
}

.Btn-Registrar{
    background-color: var(--botao);
    color: var(--texto);
    border: none;
    width: auto;
    height: auto;
    
    padding: 1%;
    text-align: center;
    font-size: 135%;

    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;

    float: right;
    
    margin: 4% 4% 1% 0;
    cursor:pointer;
    
}

.Btn:hover{
    background-color: var(--botao-hover-2);
    transform: scale(1.1);
    transition: all 0.5s
}
 


.Btn-Registrar:hover{
    background-color: var(--botao-hover-2);
    transform: scale(1.1);
    transition: all 0.5s
}

.Btn-Voltar{
    background-color: var(--botao);
    color: var(--texto);
    border: none;
    width: auto;
    height: auto;
    
    padding: 1% 1% 1% 1.5%;
    text-align: center;
    font-size: 120%;

    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;

    float: right;
    
    margin: 4% 4% 1% 0;
    cursor: pointer;
}

.Btn-Excluir:hover{
    background-color: var(--botao-hover-2);
    transform: scale(1.1);
    transition: all 0.5s
}
 