@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');
@import url('../css/cores.css');


html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: var(--fundo-gradiente);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

.caixa{
    background-color: var(--fundo-caixa);
    width: 90%;
    border: none;
    position: absolute;
    margin: 3% 0 0 5%;
    height: auto;
    padding: 3% 0 3% 3%;
    display: flex;
    flex-direction: column;
}
.lbl-input{
    display: inline;
}
.Titulo-2{
    color: var(--texto);
    font-size: 120%;
}

.Titulo{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 140%;
    text-align: center;
    width: 27$;
    height: auto;
    padding: 0.7%;
    font-weight: bold;
}

.data{
    background-color: var(--fundo-txt);
    color: var(--texto-2);
    font-size: 150%;
    /* border-radius: 2px; */
    padding: 1%;
    width: 19%;
    height: 35px;
    border: none;
    font-weight: bold;
}

.txt-titulo{
    /* border-radius: 2px; */
    width: 95%;
    background-color: var(--fundo-txt);
    font-size: 120%;
    font-family: 'Roboto Mono', monospace;
    color: var(--cor-txt);
    letter-spacing: 5px;
    padding: 0.7%;
    border: none;
    margin-top: 2%;
}

.txtOcorrencia{
    border: none;
    background-color: var(--fundo-txt-2);
    color: var(--texto);
    /* border-radius: 2px; */
    margin-top: 2%;
    display: flex;
    width: 95%;
    padding: 1%;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 3px;
}
textarea::placeholder{
    color: var(--texto);
}

.Btn{
    background-color: var(--botao-2);
    color: var(--texto);
    margin-top: 2%;
    height: 35px;
    width: 150px;
    margin-left: 77.4%;
    border: none;
    /* border-radius: 2px; */
    letter-spacing: 3px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    padding: 0%;
}

button.Btn {}

.Btn:hover{
    background-color: var(--botao);
    transform: scale(1.1);
    transition: all 0.5s;
}

/* Texto pra direÃƒÂ§ÃƒÂ£o */

.txtOcorrencia-2{
    background-color: var(--fundo-txt-2);
    color: var(--texto);
    font-size: 120%;
    padding: 2%;
    margin-top: 2%;
    width: 95%;
    height: auto;
    margin-bottom: 3%;
}

#profResp{
    background-color: var(--fundo-txt);
    color: var(--cor-txt);
    font-size: 140%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0.7%;
    margin: 0 5%;
}

.data-2{
    background-color: var(--fundo-txt);
    color: var(--texto-2);
    font-size: 150%;
    padding: 0.5%;
    width: auto;
    height: auto;
    border: none;
    /* font-weight: bold; */
}

a.BtnVoltar{
    background-color: var(--botao-2);
    color: var(--texto);
    margin-top: 30%;
    height: 35px;
    width: 15%;
    margin-left: 83.5%;
    border: none;
    letter-spacing: 3px;
    font-size: 120%;
    padding:1%;
}

.BtnVoltar:hover{
    background-color: var(--botao);
    transform: scale(1.1);
    transition: all 0.5s; 
}

a.Btn-Ocorrencia:hover{
    transform: scale(1.05);
    transition: .5s;
}

a.Btn-Ocorrencia{
    background-color: var(--fundo-txt);
    color: var(--cor-txt)
    height: 25%;
    font-size: 120%;
    padding: 0.5% 1%;
    text-align: center;
}

.registrar-ocorrencia{
    display: flex;
    margin: 2% 0 0 10%
}


a.Btn-Excluir {
    background-color: var(--botao-2);
    color: var(--texto);
    height: 35px;
    width: 20%;
    margin-left: 75%;
    border: none;
    letter-spacing: 3px;
    font-size: 120%;
    padding:1% 1% 1% 1%;
    cursor: pointer;
    text-align: center;
}

.info-ocorrencia{
    display: flex;
    justify-content: space-between;
}