@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
}

body{
    background-color: var(--fundo-gradiente-2);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

h1{
    background-color: #2E355F;
    color:#FFEEDD;
    height: 40px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    margin-top: 26px;
    margin-left: 20px;
    padding: 10px 5px;
    font-size: 25px;
}

#Bloco{
    background-color: #C6B5CD;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 25px 86px;   
    height: 100px;
    border-radius: 10px;
}

.Itens{
    background-color: #161B33;
    color: #FFEEDD;
    height: 40px;
    width: 229px;
    border-radius: 8px;
    font-size: 20px;
    margin: 15px 10px 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Prim-Bloco{
    display: flex;
    flex-direction: row;
}

.Adi-Rep{
    background-color: #2E355F;
    color:#FFEEDD;
    height: 40px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    margin-top: 26px;
    margin-left: 50px;
    padding-top: 10px;
    font-size: 25px;
}