@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');
@import url('../css/cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
}

body{
    background: var(--fundo-gradiente);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
    min-height: 100vh;
}

h1{
    background-color: var(--fundo-1);
    color: var(--texto);
    height: 40px;
    width: 10%;
    padding: 8px 0 0 0;
    
    text-align: center;
    
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5.7%;
    
    font-size: 25px;
}

.a{
    background-color: var(--fundo-bloco);
    position: relative;
    display: flex;
    margin: 2% 5.7%;
    height: auto;
    transition: all ease .5s;
    padding: 2%;
    justify-content: space-between;
}

.a:hover{
    transform: scale(1.05);
    transition: .5s;
}


.Itens{
    /* background-color: var(--fundo-txt);
    color: #FFEEDD;
    height: 40px;
    width: 229px;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-color: var(--fundo-txt);
    color: var(--texto-2);
    height: 25%;
    border-radius: 1%;
    font-size: 120%;
    padding: 0.5% 1%;
    margin: 0% 0% 0 1.5%;
    width: auto;
    text-align: center;
}

#Prim-Bloco{
    display: flex;
    flex-direction: row;
}

.Adi-Rep{
    background-color: #2E355F;
    color:#FFEEDD;
    height: 40px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
    margin-top: 26px;
    margin-left: 50px;
    padding-top: 10px;
    font-size: 25px;
}

#Lab{
    background-color: var(--fundo-txt);
    color: var(--texto-2);
    height: 25%;
    border-radius: 1%;
    font-size: 120%;
    padding: 0.5% 1%;
    margin: 0 0 0 1.5%;
    width: auto;
    text-align: center;
    float: right;
}

.data-responsavel {
    display: flex;
    align-items: center;
    width: 50%;
    height: 25%;
}