@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');
@import url('../css/cores.css');

html {
	min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: var(--fundo-gradiente);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

#mode-icon{
    cursor: pointer;
    float: right;
    margin: 2.5%;
    margin-right: 3%;
    font-size: 200%;
    color: var(--icone);
    padding-bottom: 100px;
}

#mode-icon:hover{
    transform: scale(1.2);
}

.caixa{
    width: 450px;
    height: 555px;

    position: absolute;
    top: 8%; bottom: 8%;
    left: 0; right: 0;
    margin: auto; 
    background-color: var(--fundo-caixa);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    border: none;
}

h1{
    margin-top: 11%;
    text-align: center;
    font-size: 315%;
    font-weight: bold;
    letter-spacing: 10%;
    color: var(--texto);
}

label{
    color: var(--texto);
    float: left;
    margin-top: 6%;
    margin-bottom: 2%;
}

.Forms{
    margin-top: 5%;
    padding: 0% 10% 0% 10%;
    font-size: 150%;
    font-weight: bold;
}

.Select{
    border-radius: 2%;
    width: 100%;
    height:35px;
    background-color: var(--fundo-txt);
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--cor-txt);
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
}

.Txt{
    border-radius: 2%;
    width: 100%;
    height:35px;
    background-color: var(--fundo-txt) ;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--cor-txt);
    letter-spacing: 5px;
    padding-left: 10px;
    border: none;
}

input::placeholder {
    color: var(--texto-placehoder);
  }

#Btn{
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    color: var(--texto);
    border-radius: 4%;
    width: 150px;
    height: 45px;
    background-color: var(--botao);
    letter-spacing: 3px;
    border:none;
}

.Botao{
    margin-top: 12%;
    float: right;
}

#Btn:hover{
    background-color: var(--botao-hover);
    transform: scale(1.1);
    transition: all 0.5s;
}


/* Responsivo */

@media screen and (max-width:500px) 
{
    .caixa{
        /*tamanho*/
        width: 325px;
        height: 420px;

        /*posição*/
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: auto; 

        /* resto */
        background-color: var(--fundo-caixa);
        border-radius: 1%;
        display: flex;
        flex-direction: column;
    }

    h1{
        margin-top: 10%;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
        color: var(--texto);
    }

    label{
        font-size: 70%;
        font-weight: normal;
        color: var(--texto);
    }

    .Select{
        border-radius: 2%;
        width: 245px;
        height: 25px;
        background-color: var(--fundo-txt) ;
        font-size: 70%;
        font-family: 'Roboto Mono', monospace;
        color: var(--cor-txt);
        letter-spacing: 5px;
    }

    .Txt{
        border-radius: 2%;
        width: 245px;
        height: 23px;
        background-color: var(--fundo-txt) ;
        font-size: 70%;
        font-family: 'Roboto Mono', monospace;
        color:var(--cor-txt);
        letter-spacing: 5px;
    }

    #Btn{
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        color: var(--texto);
        border-radius: 2%;
        width: 100px;
        height: 35px;
        background-color: var(--botao);
        letter-spacing: 3px;
    }

    .Botao
    {
        margin-top: 12%;
        float: right;
        margin-right: 5%;
    }

    #mode-icon{
        margin-top: 4%;
        margin-right: 4%;
        font-size:190%;
    }
    
}