@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@454&display=swap');
@import url('../css/cores.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: var(--fundo-gradiente);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

#caixa{
    background-color: var(--color-claro-60);
    height: 200px;
    width: 80%;
    display: flex;
    border: none;
    border-radius: 1%;
    margin-top: 5%;
    margin-left: 10%;
    padding: 2%;
}

#Titulo{
    background-color: var(--color-claro-900);
    color: var(--color-claro-50);
    text-align: center;
    width: auto;
    height: 30%;
    font-size: 170%;
    padding-left: 1%;
    text-align: center;
    border-radius: 2%;
}

#data{
    background-color: var(--color-claro-900);
    color: var(--color-claro-50);
    font-size: 200%;
    border-radius: 2%;
    /* margin-top: 10%; */
    padding: 2%;
    width: auto;
    height: 30%;
    border: none;
    margin-left:5% ;
}

.txtOcorrencia{
    border: none;
    background-color: var(--color-claro-100);
    border-radius: 2%;
    margin-top: 10%;
    margin-left: 2%;
    display: flex;
    width: 80%;
}

input::placeholder{
    color: var(--color-claro-50);
}